.label--topBarLink, .link--topBarLink{
   color: #B1B3B3;
   font-size: 12px;
   text-transform: uppercase;
   text-decoration: none;
}


.label--customerService, .link--customerService{
   font-size: 14px;
   line-height: 17px;
   color: #000;
   text-align: center;
}


