  :global(.vtex-minicart-2-x-cartIcon) {
    display: none;
  }

  :global(.vtex-minicart-2-x-minicartIconContainer) {
    background: url(assets/img/icons/cart-icon.png) no-repeat center center;
    width: 28px;
    height: 26px;
    padding: 0;
    margin: 0;
  }

  .openIconContainer {
    margin: 0;
    padding: 0;
  }