.autoCompleteOuterContainer {
    width: 30rem;
    height: 40px;
    padding: 0;
}

.logoContainer {
    padding: 0;
    /* border: 1px solid red; */
}

.logoImage {
  width: 200px;
  height: 34px;
}

.searchBarIcon--inputSearchBar--search, .searchBarIcon--inputSearchBar--clear {
    padding: 0 1rem;
    color: #FFF;
    width: 48px; 
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    height: 40px;
    border: none;
    border-radius: 0;
  }
  

  .suffixWrapper {
    background-color: #441AFA;
    position: relative;
    left: 35%;
    align-items: center;
    justify-content: center;

  }

  @media screen and (max-width: 1025px) {
    
      .autoCompleteOuterContainer {
        width: 23.188rem;
        margin-top: 0.5rem;
    }

    .logoImage {
      width: 176px;
      height: 30px;
    }
  }

  @media screen and (max-width: 425px) {
    .autoCompleteOuterContainer {
      width: 100vw;
      padding: 0 1rem;
      margin-top: 0.5rem;    
    }
  }




