.autoCompleteOuterContainer {
    width: 42vw;
    height: 40px;
    padding: 0;
}

.logoContainer {
    padding: 0;
}

.searchBarIcon--inputSearchBar--search, .searchBarIcon--inputSearchBar--clear {
    padding: 0 1rem;
    color: #FFF;
    width: 48px; 
}

.searchBarContainer :global(.vtex-input-prefix__group) {
    height: 40px;
    border: none;
    border-radius: 0;
  }

  .suffixWrapper {
    background-color: #441AFA;
    position: relative;
    left: 35%;
    align-items: center;
    justify-content: center; 
  }





