
.flexRow--wrapper__top-bar {
    background-color: #25282A;
    height: 32px;
    
}

.flexRowContent--wrapper__top-bar {
    background-color: #25282A;
    align-items: center;
    height: 32px;
}

.flexCol--wrapper__col {
    flex-direction: row;
    
    padding: 0 1rem;    
}

.flexCol--wrapper__col-left {
    justify-content: left;
}

.flexCol--wrapper__col-right {
    justify-content: right;
    align-items: center;
}



