
.flexRow--wrapper__top-bar {
    background-color: #25282A;
    height: 32px;
    
}

.flexRowContent--wrapper__top-bar {
    background-color: #25282A;
    height: 32px;
    align-items: center;
    justify-content: center;
}

.flexCol--wrapper__col {
    flex-direction: row;
    height: 100%;
    padding: 0 4rem;    
}

.flexCol--wrapper__col-left {
    justify-content: left;
}

.flexCol--wrapper__col-right {
    justify-content: right;
}

