

.flexRow--wrapper__top-bar {
    background-color: #25282A;
    height: 32px;
} 


.flexCol--wrapper__col {
    flex-direction: row;
}

.flexCol--wrapper__col-right {
    justify-content: flex-end;
}







