.wrapper--textTopBar {
    color: #B1B3B3;
    font-size: 12px;
    margin-top: -4px;
}

.wrapper--rightFirstLink,
.wrapper--rightSecLink {
    text-transform: uppercase;
}

.wrapper--rightMiddleBar {
    margin: -4px 0.5rem;
}